@font-face {
  font-family: Cascadia Code;
  src: url(CascadiaCode.a4da839391a73e93.woff2) format("woff2");
}
@font-face {
  font-family: Cascadia Code;
  src: url(CascadiaCode-Bold.50f0d06fac041b17.woff2) format("woff2");
  font-weight: 700;
}
body {
  margin: 0;
  font-family: Cascadia Code;
  background: #e2ded9;
  overflow-y: hidden;
}
button {
  font-family: Cascadia Code;
}
@media (max-width: 950px) {
  body {
    font-size: 14px;
    overflow-y: auto;
  }
  .vertical-seperator {
    display: none;
  }
  main {
    flex-direction: column !important;
  }
  app-side-menu {
    order: 1;
  }
  app-todo {
    order: 2;
  }
  .day-wrapper {
    height: 300px !important;
    overflow-x: hidden;
  }
  #side-menu-wrapper {
    width: auto !important;
  }
  .categories-content,
  .activities-content {
    display: flex;
    flex-wrap: wrap;
  }
  .category-item,
  .activity-item {
    flex: 50%;
  }
}
